@import 'tailwindcss';
@import './layout/_containers.css';
@import './base/_colors.css';
@import './base/_typography.css';
@import './utilities/_buttons.css';

:root {
  color: var(--color-text);
  font-family: Geist, sans-serif;
  font-weight: 200;
  letter-spacing: 0.34%;
}

body {
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  margin: 0;
  -moz-osx-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

:focus-visible {
  outline: 1px solid var(--color-overlay-40);
  outline-offset: 2px;
}
