:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #ededed;
  --color-bg: #ededed;
  --color-text: #242424;
  --color-text-muted: #737373;
  --color-text-inv: var(--color-white);
  --color-overlay-05: rgb(0 0 0 / 5%);
  --color-overlay-10: rgb(0 0 0 / 10%);
  --color-overlay-40: rgb(0 0 0 / 40%);
  --color-success: #178a45;
  --container-max-width: 1920px;
  --container-width: 96.4%;
  --font-rounded:
    'SF Pro Rounded', ui-rounded, 'SF Pro Text', system-ui, -apple-system,
    'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
  --font-sans:
    geist, system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue',
    arial, sans-serif;
  --font-text:
    'SF Pro Text', 'SF Pro Display', system-ui, -apple-system, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, sans-serif;
}
