:root {
  --font-mono:
    'Geist Mono', ui-monospace, 'SF Mono', menlo, consolas, monospace;
  --font-rounded:
    'SF Pro Rounded', ui-rounded, 'SF Pro Text', system-ui, -apple-system,
    'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
  --font-sans:
    geist, system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue',
    arial, sans-serif;
  --font-text:
    'SF Pro Text', 'SF Pro Display', system-ui, -apple-system, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, sans-serif;
}

.font--mono-label {
  font-family: var(--font-mono);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.34%;
  line-height: 12px;
}

.font--hero-title {
  font-family: var(--font-sans);
  font-size: 1.5rem;
  letter-spacing: 0.34%;
  line-height: 24px;
}
