.font--mono-label {
  font-family: 'Geist Mono', monospace;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.34%;
  line-height: 12px;
}

.font--hero-title {
  font-family: Geist, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.34%;
  line-height: 24px;
}
